.top {
  width: 1450px;
  height: 175px;
  background-color: white;
  margin-top: -50px;
  margin-left: -60px;
  margin-bottom: 10px;
}

.navs {
  margin-left: 400px;
}

.udaku {
  margin-left: -300px;
  padding-top: 10px;
}

.icons {
  margin-left: 370px;
  margin-top: 10px;
}

.icon:hover {
  color: blue;
  background-color: black;
}

#story {
  display: none;
}

.co {
  margin-top: 40px;
}

.intro {
  background-image: url(bg.jpg);
  background-size: cover;
  height: 500px;
  padding-top: 60px;
  margin-left: -111px;
  margin-right: -110px;
}
.news{
  color: red;
  font-size: 100px;

}
.new{
  color: white;
  font-size: 150px;
}
#bottomdiv{
  background-color: #333;
  height: 1000px;
  margin-left: -110px;
  margin-right: -110px;
}
.paro {
  width: 400px;
  margin-left: 30px;
  color: black;
  border: 5px solid white;
  border-bottom: -30px;
  background-color: white;
  margin-top: 10px;
}
#nw1 {
  display: none;
  color: white;
  margin-left: 50px;
  width: 380px;
}
#nw2 {
  display: none;
  color: white;
  margin-left: 50px;
  width: 380px;
}
#nw3 {
  display: none;
  color: white;
  margin-left: 50px;
  width: 380px;
}
#nw4 {
  display: none;
  color: white;
  margin-left: 50px;
  width: 380px;
}
#nw5 {
  display: none;
  color: white;
  margin-left: 50px;
  width: 380px;
}
#nw6 {
  display: none;
  color: white;
  margin-left: 50px;
  width: 380px;
}
.paro2 {
  width: 375px;
  height: -70px;
  margin-left: 30px;
  color: black;
  border: 5px solid white;
  border-bottom: -30px;
  background-color: white;
  margin-top: 10px;
}
.paro3 {
  width: 375px;
  height: -70px;
  margin-left: 30px;
  color: black;
  border: 5px solid white;
  border-bottom: -30px;
  background-color: white;
  margin-top: 10px;
}
#pov {
  color: white ! important;
  text-align: center;
}
.bt {
  margin-top: -05px;
 margin-left: 870px;
 margin-bottom: -100px;
}
.donate{
display: inline-block;
padding: 15px 25px;
font-size: 24px;
cursor: grabbing;
text-align: center;
text-decoration: none;
outline: none;
color:white;
background-color:orange;
border: none;
border-radius:5px;
margin-bottom: 40px;
}

.donate:hover {background-color:darkorange;}
.donate:active{
   transform: translateY(4px);
}
.button {
  border-radius: 4px;
  background-color: red;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}.button:hover span {
  padding-right: 25px;
}
#select {
  width: 250px;
  height: 40px;
  display: none;
}
#amn {
  display: none;
}
#meth {
  display: none;
}
#cardmeth {
  display: none;
}
#paypmeth {
  display: none;
}
#mpemeth {
  display: none;
}
#ydts {
  display: none;
}
#next1 {
  display: none;
}
#next2 {
  display: none;
}
#next3 {
  display: none;
}
#next4 {
  display: none;
}
#sucdon {
  display: none;
  text-align: center;
  color: white;
  background-color: darkblue;
  border: 5px solid blue;
  width: 400px;
  margin-left: 350px;
  margin-top: 200px;
}
.input {
  color: black;
  background-color: transparent;
}
#cocha {
}
#story1 {
  margin-top: 120px;
  margin-left: 300px;
}
#imgstory1 {
height: 550px;
border: 9px solid #E7DAD5;
}

#story2 {
  margin-top: 180px;
  margin-left: 30px;
  width: 200px;
}
#imgstory2 {
  margin-top: 170px;
  border: 9px solid #E7DAD5;
}
#story3 {
  margin-top: 180px;
  margin-left: 300px;
}
#imgstory3 {
  margin-top: 190px;
  border: 9px solid #E7DAD5;
}
#story4 {
  margin-top: 170px;
  margin-left: 30px;
  width: 200px;
}
#imgstory4 {
  margin-top: 170px;
  border: 9px solid #E7DAD5;
}
#story5 {
  margin-top: 170px;
  margin-left: 300px;
}
#imgstory5 {
  margin-top: 170px;
  border: 9px solid #E7DAD5;
}
#story6 {
  margin-top: 170px;
  margin-left: 30px;
  width: 250px;
}
#imgstory6 {
  margin-top: 170px;
  border: 9px solid #E7DAD5;
}
#story7 {
  margin-top: 170px;
  margin-left: 300px;
}
#imgstory7 {
  margin-top: 170px;
  border: 9px solid #E7DAD5;
}
#support1 {
  margin-left: 300px;
    border-radius: 8px;
}
#support2 {
  margin-left: 100px;
    border-radius: 8px;
}
#support3 {
  margin-left: 300px;
    border-radius: 8px;
}
#support4 {
  margin-left: 100px;
    border-radius: 8px;
}
#support5 {
  margin-left: 300px;
    border-radius: 8px;
}
#support6 {
  margin-left: 100px;
  border-radius: 8px;
    border-radius: 8px;
}
#support7 {
  margin-left: 300px;
    border-radius: 8px;
  }
#bton6 {
  display: none;
}
#bton5 {
  display: none;
}
#bton4 {
  display: none;
}
#bton3 {
  display: none;
}
#bton2 {
  display: none;
}
#bton1 {
  display: none;
}
